<!DOCTYPE html>
<head>
    <title>Aahan's chatting services</title>
    <link rel="stylesheet", href="/static/css/style.css">
</head>
<body>
    <h1>Choose from a range of options below: askit (Asking questions), chat with ai (Chatting with ChatGPT) or chatting (with a preconfigured bot). </h1>
    <a href="/askit.py">
    <h3 class="askit">Do you want to askit, you know you want to ask it. So go ahead and fire off questions! Click here!!!</h1></a>
    <a href="/chatting.py">
    <h3 class=""chatting">You want to get chatting, you want to answer questions, so answer them with MarkChat!</h3>    
    </a>
    <a href="/chatwithai.py">
    <h3 class="chatwithai">Not been able to chat with ChatGPT, don't worry. Click here to access ChatGPT, ON this very website!! For free and without an account!!!</h3>
    </a>    
</body>